<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="rebirthQuicktellerSuite">

	<listeners>
		<listener
			class-name="com.rebirthQuickteller.ExtentReport.ExtentReportListener" />
	</listeners>

	<test name="SignUp" preserve-order="true">
		<classes>
			<class name="com.rebirthQuickteller.TestCases.SignUp" />
		</classes>
	</test>


	<test name="Validate Login" preserve-order="true">
		<classes>
			<class name="com.rebirthQuickteller.TestCases.ValidateLogin" />
		</classes>
	</test>
	
	<test name="ProfileUpdate" preserve-order="true">
		<classes>
			<class name="com.rebirthQuickteller.TestCases.UpdatePersonalDetails" />
		</classes>
	</test>

	<test name="SendMoney" preserve-order="true">
		<classes>
			<class name="com.rebirthQuickteller.TestCases.SendMoney" />
		</classes>
	</test>


	<test name="AirtimeRecharge" preserve-order="true">
		<classes>
			<class name="com.rebirthQuickteller.TestCases.AirtimeRecharge" />
		</classes>
	</test>
	
	<test name="DataRecharge" preserve-order="true">
		<classes>
			<class name="com.rebirthQuickteller.TestCases.DataRecharge" />
		</classes>
	</test>
	

</suite> <!--
Suite -->